// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

h1 {
  font-family: 'Arvo'
}

h2 {
  font-family: 'Arvo'
}

h3 {
  font-family: 'Arvo'
}

h4 {
  font-family: 'Arvo'
}
