<div style = "display:block; border-bottom: 1px solid black">

      <% if review_item.id %>
      <h4 style = "color:black; padding-left: 15px"><%= review_item.rating %> out of 5</h4>
      <p style = "color:black; padding-left: 15px"><%= review_item.description %></p>
      <% end %>
</div>
